














.content{
	margin-top: 0;
}




        header.fixed_hiding .q_logo a,
        header.fixed_hiding .q_logo{
            max-height: 100px;
        }































.google_map{
	height: 750px;
}















 
  



	.vertical_menu_area{
		text-align:left;
	}

















