










.content .content_inner > .container > .container_inner.default_template_holder {
  padding-top: 300px;
}

.single-post .content .content_inner > .container > .container_inner.default_template_holder {
    padding-top: 50px;
}

.qbutton.white {
    width: 80%;
    margin-top: 10px;
    text-align:center;
    color:#000;
}

.qbutton.white:hover {
color: #fff;
}


.about {
    background-color:#f6f5f5;
}

.products-grid {margin: 40px;
}

.products-grid h1 {
    text-align:center;
    text-transform:none;
    margin-top: 50px;
    margin-bottom: 50px;
}

.products-grid p {
    
  font-family: "Lato", sans-serif;
  font-size: 26px;
    margin-bottom: 50px;
  letter-spacing: 10px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
}



.header_bottom .container_inner {
    background-color:rgba(21, 16, 42, 0.6);
}









.content .content_inner > .container > .container_inner.default_template_holder {
  padding-top: 300px;
}

.single-post .content .content_inner > .container > .container_inner.default_template_holder {
    padding-top: 50px;
}

.qbutton.white {
    width: 80%;
    margin-top: 10px;
    text-align:center;
    color:#000;
}

.qbutton.white:hover {
color: #fff;
}


.about {
    background-color:#f6f5f5;
}

.products-grid {margin: 40px;
}

.products-grid h1 {
    text-align:center;
    text-transform:none;
    margin-top: 50px;
    margin-bottom: 50px;
}



.header_bottom .container_inner {
    background-color:rgba(21, 16, 42, 0.6);
}

header:not(.with_hover_bg_color) nav.main_menu>ul>li:hover>a, nav.main_menu>ul>li.active>a 

{
    color:#fff;
    text-decoration:underline;
}

.q_image_with_text_over .shader {
  background-color: rgba(255, 255, 255, 0.14);
}
.carousel-inner h2 {
    font-size:2em;
    font-family: 'Goudy Bookletter 1911', sans-serif;
    text-transform: none;
}

.carousel-inner h2 span {
     font-family: 'Goudy Bookletter 1911', sans-serif;
}
    


.store-locations {
    text-align:center;
}

.store-locations h1 {
    color: #201545;
    font-size:3em;
    text-transform:none;
    margin-top: 50px;
    margin-bottom:0px;
}

.store-locations h3 {
    text-align:center;
    color: #201545;
    font-family:"lato", sans-serif;
    
}




.store-locations .street-sign p {
    text-align:right;
    padding-right: 20px;
    color:red;
}

.store-locations .street-sign h2 {
    text-align:center;
    color: #201545;
    
   
}

.street-sign:hover {
    background-color:rgba(21,16,42,1);
}

.street-sign h4 {
    text-align:right;
    color:red;
}

.store-locations {
    text-align: center;
    padding-bottom: 100px;
    background-color:#efefef;
}

.store-locations img {
    width: 100%;
}

.store-locations p {
    text-align:center;
}
.street-sign {
    BORDER: 5PX SOLID #201545;
    BORDER-RADIUS: 10PX;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
}

.opening-times  {
   
    background-color: #fff;
    margin:20px;
}

.street-sign h4 {
    text-align: right;
    color: red;
}




.full_section_inner {
    margin: 40px;
    
}

.store-locations {
    text-align: center;
    padding-bottom: 100px;
    background-color:#efefef;
}

.store-locations img {
    width: 100%;
}

.store-locations p {
    text-align:center;
}


.opening-times  {
   
    background-color: #fff;
    margin:20px;
}

.street-sign h4 {
    text-align: right;
    color: red;
}



aside.sidebar .widget h4 {
    background-color:rgba(21,16,42,1) !important;
}

.specials {
    margin-right: 50px;
}

.specials img {
   width: 100%;
}

.specials .latest_post_text {
    position: absolute;
    height: 300px;
    margin-top: -70%;
    right:0;
    background-color: rgba(255, 255, 255, 0.9);
    width: 40%;
    padding: 10px;
}

.specials .latest_post_title {
    font-size: 1.5em;
  font-style: italic;
    color: #201545;
}

 .specials .latest_post_text h2 {
font-size:2em;
}

.latest_post_holder.boxes>ul>li .latest_post {
  padding:0px;
  background-color: #fff;
}

.latest_post_holder .boxes_image a .latest_post_overlay {
    background-color:rgba(21,16,42,0.6);
}

.latest_post_holder .latest_post_overlay .icon_plus {
  color:#fff;
  background-color:rgba(21,16,42,1);

}

.boxes_image img {
    width:100%;
}
    
    
    
.mgom_circle div {
    display: inline-block;
  position: absolute;
  height: 200px;
  width: 200px;
  
  left: 0;
  right: 0;
  border-radius: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top:-100px;
}

.mg_box:hover .mgom_23_0 div {
    width: 300%;
  height: 300%;
  top: 0;
 
}



.footer_top{
    background-image: url(../img/ampersand.svg);
    background-repeat:no-repeat;
    
}

.footer_top_holder {
   background-color: rgba(21,16,42,1) !important;
}

.footer_top .widget_nav_menu li.menu-item a {
  margin-bottom: 10px;
  font-size: 1.5em;
  text-align: center;
  color: white;
}

.footer_top .widget h4 {
  color: #fff;
  margin: 0 0 15px;
  text-align: center;
  font-size: 1.5em;
  font-style: italic;
}

.footer_top a  {
    color:#fff;
    font-size:1.5em;
    padding: 5px;
}

.mc4wp-form label {
  font-size: 1.5em;
  color: white;
  font-style: italic;
  padding-bottom: 20px;
  margin: 6px 0;
}

.mc4wp-form button, .mc4wp-form input[type=button], .mc4wp-form input[type=submit]  {
  color: #FFF!important;
  /* background-color: #fff!important; */
  /* border-color: #E6E6E6; */
  font-size: 2em;
  /* font-style: italic; */
  text-decoration: underline;
  padding: 0px;
  bor
}


.products .image_with_text h5 {
    position: absolute;
    margin-top: -40%;
    left: 0;
    right: 0;
     font-family: 'Goudy Bookletter 1911', sans-serif;
    color: #fff;
    font-size:3em;
}

.products .full_section_inner {
    margin: 0;
}

.product-info {
    width: 90%;
    margin: 50px auto 100px auto;
    
}

.product-info img {
    width: 100%;
}

.product-info h2 {
    margin-bottom: 50px;
    padding: 20px;
    text-align:center;
}
    



.q_image_with_text_over .shader {
  background-color: rgba(255, 255, 255, 0.14);
}
.carousel-inner h2 {
    font-size:2em;
    font-family: 'Goudy Bookletter 1911', sans-serif;
    text-transform: none;
}

.carousel-inner h2 span {
     font-family: 'Goudy Bookletter 1911', sans-serif;
}
    


.store-locations {
    text-align:center;
}

.store-locations h1 {
    color: #201545;
    font-size:3em;
    text-transform:none;
    margin-top: 50px;
    margin-bottom:0px;
}

.store-locations h3 {
    text-align:center;
    color: #201545;
    font-family:"lato", sans-serif;
    
}




.store-locations .street-sign p {
    text-align:right;
    padding-right: 20px;
    color:red;
}

.store-locations .street-sign h2 {
    text-align:center;
    color: #201545;
    
   
}

.street-sign:hover {
    background-color:rgba(21,16,42,1);
}

.street-sign h4 {
    text-align:right;
    color:red;
}

.store-locations {
    text-align: center;
    padding-bottom: 100px;
    background-color:#efefef;
}

.store-locations img {
    width: 100%;
}

.store-locations p {
    text-align:center;
}
.street-sign {
    BORDER: 5PX SOLID #201545;
    BORDER-RADIUS: 10PX;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
}

.opening-times  {
   
    background-color: #fff;
    margin:20px;
}

.street-sign h4 {
    text-align: right;
    color: red;
}




.full_section_inner {
    margin: 40px;
    
}

.store-locations {
    text-align: center;
    padding-bottom: 100px;
    background-color:#efefef;
}

.store-locations img {
    width: 100%;
}

.store-locations p {
    text-align:center;
}


.opening-times  {
   
    background-color: #fff;
    margin:20px;
}

.street-sign h4 {
    text-align: right;
    color: red;
}



aside.sidebar .widget h4 {
    background-color:rgba(21,16,42,1) !important;
}

.specials {
    margin-right: 50px;
}

.specials img {
   width: 100%;
}

.specials .latest_post_text {
    position: absolute;
    height: 300px;
    margin-top: -70%;
    right:0;
    background-color: rgba(255, 255, 255, 0.9);
    width: 40%;
    padding: 10px;
}

.specials .latest_post_title {
    font-size: 1.5em;
  font-style: italic;
    color: #201545;
}

 .specials .latest_post_text h2 {
font-size:2em;
}

.latest_post_holder.boxes>ul>li .latest_post {
  padding:0px;
  background-color: #fff;
}

.latest_post_holder .boxes_image a .latest_post_overlay {
    background-color:rgba(21,16,42,0.6);
}

.latest_post_holder .latest_post_overlay .icon_plus {
  color:#fff;
  background-color:rgba(21,16,42,1);

}

.boxes_image img {
    width:100%;
}
    
    
    
.mgom_circle div {
    display: inline-block;
  position: absolute;
  height: 200px;
  width: 200px;
  
  left: 0;
  right: 0;
  border-radius: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top:-100px;
}

.mg_box:hover .mgom_23_0 div {
    width: 300%;
  height: 300%;
  top: 0;
 
}

 .mgom_23_1 {
    padding-top: 20px; 
    
   
    letter-spacing:5px;
}

 .mgom_23_1::after {

  display: block;
  content: "";
  margin: 0 auto;
  width: 10px;
  height: 10px;
  margin-top: 10px;
  background-color: #fff;
  

 }



.footer_top{
    background-image: url(../img/ampersand.svg);
    background-repeat:no-repeat;
    
}

.footer_top_holder {
   background-color: rgba(21,16,42,1) !important;
}

.footer_top .widget_nav_menu li.menu-item a {
  margin-bottom: 10px;
  font-size: 1.5em;
  text-align: center;
  color: white;
}

.footer_top .widget h4 {
  color: #fff;
  margin: 0 0 15px;
  text-align: center;
  font-size: 1.5em;
  font-style: italic;
}

.footer_top a  {
    color:#fff;
    font-size:1.5em;
    padding: 5px;
}

.mc4wp-form label {
  font-size: 1.5em;
  color: white;
  font-style: italic;
  padding-bottom: 20px;
  margin: 6px 0;
}

.mc4wp-form button, .mc4wp-form input[type=button], .mc4wp-form input[type=submit]  {
  color: #FFF!important;
  /* background-color: #fff!important; */
  /* border-color: #E6E6E6; */
  font-size: 2em;
  /* font-style: italic; */
  text-decoration: underline;
  padding: 0px;
  bor
}


.products .image_with_text h5 {
    position: absolute;
    margin-top: -40%;
    left: 0;
    right: 0;
     font-family: 'Goudy Bookletter 1911', sans-serif;
    color: #fff;
    font-size:3em;
}

.products .full_section_inner {
    margin: 0;
}

.product-info {
    width: 90%;
    margin: 50px auto 100px auto;
    
}

.product-info img {
    width: 100%;
}

.product-info h2 {
    margin-bottom: 50px;
    padding: 20px;
    text-align:center;
}
    

