


    body{
    	    	 color: #000000;     	 font-size: 16px;     	font-weight: 400;    }
            body,
		.wrapper,
        .content,
        .full_width,
		.content .container,
		.more_facts_holder{
        	background-color:#ffffff;
        }
    

.header_bottom,
.header_top {
	background-color: rgba(21,16,42,0);
}


.header_bottom,
.header_top {
    border-bottom: 0;
}

.header_bottom {
    box-shadow: none;
}

.header_top .right .inner > div:first-child,
.header_top .right .inner > div,
.header_top .left .inner > div:last-child,
.header_top .left .inner > div {
    border: none;
}




	.content .content_inner > .container > .container_inner,
	.content .content_inner > .full_width > .full_width_inner{
		padding-top: 0px;
	}

	.content .content_inner > .container > .container_inner.default_template_holder{
		padding-top: 44px;
	}

	@media only screen and (max-width: 1000px){
		.content .content_inner > .container > .container_inner,
		.content .content_inner > .full_width > .full_width_inner,
		.content .content_inner > .container > .container_inner.default_template_holder{
			padding-top: 44px !important;
		}
	}	



header.fixed.scrolled .header_bottom,
header.fixed.scrolled .header_top {
	background-color: rgba(255,255,255,1) !important;
}




header.sticky .header_bottom{
	background-color: rgba(21,16,42,1) !important;
}


.header_top{
	background-color: rgba(255,255,255,0);
}


header.sticky .header_top{
	background-color: rgba(0,0,0,1);
}



								.content{
				margin-top: -226px;
			}
			
	.content.content_top_margin{
		margin-top: 250px !important;
	}







        @media only screen and (min-width: 1000px){
            header.fixed_hiding .q_logo a,
            header.fixed_hiding .q_logo{
                max-height: 73px;
            }
        }
    








nav.main_menu > ul > li > a{
	 color: #ffffff; 		    				
	}














	@media only screen and (max-width: 1000px){
		.header_bottom,
		nav.mobile_menu{
			background-color: #15102a !important;
		}
	}


	
	.q_image_with_text_over .shader{
		background-color: rgba(255,255,255,0.9);
	}




	h1{
			color: #000000; 				font-family: 'Goudy Bookletter 1911', sans-serif;
											    	    	}
	h2{
					font-family: 'Goudy Bookletter 1911', sans-serif;
											    		text-transform: none; 	}
	h2, h2 a{
			}		


	p{
		font-family: "Lato", sans-serif;font-size: 16px;letter-spacing: 4px;font-weight: 400;font-style: normal;color: #000000	}


	a, p a{
		color: #ffffff;							}




























































	.qbutton,
	.qbutton.medium,
	#submit_comment,
	.load_more a,
	.blog_load_more_button a,
	.blog_holder article .post_text a.more-link span{
		border-color: #201545;	}
		.qbutton:hover,
	.qbutton:not(.white):hover,
	.qbutton.medium:hover,
	#submit_comment:hover,
	.load_more a:hover,
	.blog_load_more_button a:hover,
	.blog_holder article .post_text a.more-link:hover span{
	    background-color: #201545;	}
	
	#back_to_top > span{
		font-size: 14px;	}
	

	.qode_image_gallery_no_space .controls a.prev-slide, 
	.qode_image_gallery_no_space .controls a.next-slide, 
	.qode_carousels .caroufredsel-direction-nav .caroufredsel-navigation-item,
	.flex-direction-nav a, .caroufredsel-direction-nav a{
		font-size: 14px;	}
	













.q_google_map{
	height: 750px;
}
	.footer_top_holder{
		background-color:#201545;
	}






















































		














































	
	
	





	










